.associates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

.associates {
    margin-left: 170px;
}

.associates__item {
    padding-right: 150px;
    padding-bottom: 70px;
    filter: grayscale(100%); 
}

.associates__item:hover {
    filter: grayscale(0%)
}
